body,
html {
  font-family: "Manrope", sans-serif;
  max-width: 1400px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.about-nav-section {
  height: 765px;

  position: relative;
  box-sizing: border-box;
  background-image: url("/resources/developer.png");
}

.nav {
  max-width: 1152px;
  height: 40px;
  margin: 0 auto;
  margin-top: 27px;

  display: inline-block;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  padding-right: 532px;
}

.nav-link-section {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.nav_link {
  box-sizing: border-box;
  padding-right: 25px;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-decoration: none;
}

.nav_link:hover {
  color: #1bff07;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav_link:nth-last-child(1) {
  padding-right: 0px;
}

.intro-about-me {
  position: absolute;
  width: 450px;
  height: 103px;
  padding-top: 334px;
  padding-left: 125px;

  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
}

h1 {
  position: absolute;
  left: 119px;
  bottom: 94px;

  font-weight: 400;
  font-size: 50px;
  line-height: 87%;
  letter-spacing: -0.03em;
  color: #1bff07;
}
.projects-list {
  box-sizing: border-box;
}

.projects_title {
  font-weight: 400;
  font-size: 55px;
  letter-spacing: -0.03em;
}

.projects {
  box-sizing: border-box;
  max-width: 1155px;
  margin: 0 auto;
  margin-top: 150px;
}

h2 {
  text-align: left;
  font-weight: 400;
  font-size: 55px;
  letter-spacing: -0.03em;
}

.project_realhome {
  width: 100%;
  height: 550px;
  margin-top: 40px;

  position: relative;
  box-sizing: border-box;
  background-image: url("/resources/realhome.png");
  background-repeat: no-repeat;
  text-align: left;
}

.project_glass {
  width: 100%;
  height: 550px;

  position: relative;
  box-sizing: border-box;
  background-image: url("/resources/glass.png");
  background-repeat: no-repeat;
  text-align: left;
}

.project_fesiyen {
  width: 100%;
  height: 550px;

  position: relative;
  box-sizing: border-box;
  background-image: url("/resources/fesiyen.png");
  background-repeat: no-repeat;
  text-align: left;
}

.project_link {
  position: absolute;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #fff;
  left: 50px;
  bottom: 50px;
}

h3 {
  font-size: 35px;
}

.project_details {
  font-size: 30px;
}

.button-service {
  display: block;

  width: 272px;
  height: 71px;
  margin-top: 80px;

  border-radius: 5px;
  border: #1bff07;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  background: #1bff07;

  cursor: pointer;
}

.button-service:hover {
  background: #000;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1bff07;
}

.competencies {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 125px;

  text-align: left;
}

.type_of_competenc {
  margin-top: 16px;

  font-weight: 400;
  font-size: 35px;
  letter-spacing: -0.03em;
  color: #1bff07;
}

.details_of_competence {
  margin-top: 15px;

  text-align: left;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.03em;
}

.competence {
  margin-top: 60px;
}

.Services {
  box-sizing: border-box;
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 150px;
}

.service-img {
  margin-top: 75px;
}

.service_container {
  box-sizing: border-box;
  position: relative;
  border-radius: 30px;
  height: 283px;

  background: #191c19;
}

.service_text_wrapper {
  position: absolute;
  box-sizing: border-box;
  padding: 40px;
  text-align: left;
}

.type_of_service {
  font-weight: 400;
  font-size: 55px;
  letter-spacing: -0.03em;
  color: #1bff07;
}

.details_of_service {
  line-height: 34px;
  max-width: 750px;
  padding-top: 15px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.03em;
  color: #fff;
}

.contacts {
  box-sizing: border-box;
  position: relative;

  margin-top: 25px;
  height: 717px;
  width: 100%;
  border-radius: 30px;
  background: #191c19;

  background-image: url("/resources/cuate.png");
  background-repeat: no-repeat;
  background-position: right;
}

.contacts_list {
  left: 125px;
  bottom: 90px;
  position: absolute;
  box-sizing: border-box;
  color: #fff;
}

.contacts_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 171%;
  letter-spacing: -0.03em;
}

.contact_link {
  text-align: left;
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
}
